@use "../styles/univers/foundation/foundation.scss" as f;

.home__presentation {
  width: 100%;
  display: flex;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
    gap: f.$spacing-m;
    min-height: 200px;

    @media (max-width: f.$mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  /* Post-it */
  .home__postit {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;

    .home__postit-image {
      width: 250px;
      height: 250px;
      object-fit: contain;
      transform: rotate(-2deg);
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
      transition: transform 0.4s ease, filter 0.4s ease;
      opacity: 0; /* caché par défaut */

      &:hover {
        transform: rotate(0deg) scale(1.02);
        filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.3));
      }

      &.fly-in {
        animation: fly-in 1s forwards;
        opacity: 1; /* devient visible au lancement de l'animation */
      }
    }
  }

  /* Contenu */
  .home__content {
    flex: 1;
    margin-left: f.$spacing-s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &[data-show="true"] {
      opacity: 1;
    }
  }

  .home__titles {
    margin-bottom: f.$spacing-m;
    text-align: center;
    @media (max-width: f.$mobile) {
      margin-bottom: f.$spacing-xs;
    }
  }

  .home__intro {
    text-align: left;
    margin-top: 10px;
    @media (max-width: f.$mobile) {
      text-align: justify;
    }
  }

  .home__subtitle {
    font-weight: bold;
    margin-top: -5px;
    color: var(--accent-color);
  }

  .home__accroche {
    text-align: center;
    color: var(--color-main);
  }
}

/* Highlights */
.home__highlights {
  width: 100%;
  padding: f.$spacing-l 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &[data-show="true"] {
    opacity: 1;
  }

  .home__highlights-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: f.$spacing-m;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 0;
  }
}

.theme-acceuillant  {
  .home__subtitle {
    color: var(--accent-color);
  }
}


.theme-energique  {
  .home__subtitle {
    filter: drop-shadow(0 0 10px var(--accent-color));
  }
}

.theme-minimaliste  {
  .home__subtitle {
    color: var(--second-accent-color);
  }
}



/* ---------------- Animations ---------------- */
@keyframes fly-in {
  0% {
    transform: translateY(-500px) rotate(20deg) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translateY(50px) rotate(-10deg) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(-2deg) scale(1);
    opacity: 1;
  }
}
