@use "../styles/univers/foundation/foundation.scss" as f;

.theme-tooltip {
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 10px 14px; // un peu plus d’espace pour respirer
  border-radius: 12px; // coins plus arrondis
  font-size: 0.9rem;
  pointer-events: none; // laisse passer les clics
  z-index: 9999;

  white-space: normal; // permet le retour à la ligne
  max-width: 220px; // largeur maximale
  word-wrap: break-word; // coupe les mots trop longs
  text-align: center; // centrer le texte
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  transform-origin: center bottom;

  &:after {
    content: "";
    position: absolute;
    bottom: -8px; // décalage triangle plus naturel
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px; // triangle plus grand
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
  }
}
